body {
    margin: 0;
    background: rgb(15, 23, 42);
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 260px;
    background: rgb(2, 6, 23);
    padding: 25px;
    box-shadow: 4px 0px 10px rgb(0, 0, 0);
}

.sidebar h2 {
    color: rgb(56, 189, 248);
    text-align: center;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(30, 41, 59);
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    transition: 0.3s;
}

.sidebar a:hover {
    background: rgb(56, 189, 248);
    color: rgb(0, 0, 0);
}

.logout-box {
    position: absolute;
    bottom: 30px;
    width: 210px;
}

.logout-btn {
    display: block;
    text-align: center;
    background: rgb(220, 38, 38);
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logout-btn:hover {
    background: rgb(185, 28, 28);
}

/* Main Content */
.main {
    flex: 1;
    padding: 40px;
    color: rgb(255, 255, 255);
}

.main h1 {
    margin-top: 0;
}

