/* Full page background */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url("../images/Newzeland.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    overflow-x: hidden;
}

.main {
    flex: 1;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.349);
    padding: 40px;
}

.card {
    background:rgba(0, 0, 0, 0.434);
    color: rgb(22, 147, 169);
    border-radius: 16px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.6);
    border: 2px dashed rgb(41, 132, 157);
}


h3 {
    color: rgb(71, 159, 175);
    font-weight: bold;
}


.form-label {
    color: rgba(128, 184, 15, 0.507);
}

.form-control {
    background: transparent;
    border: 1px solid rgb(149, 94, 17);
    color: rgba(169, 114, 114, 0.701);
}

.form-control::placeholder {
    color: rgb(30, 3, 3);
}

.form-control:focus {
    background: transparent;
    border-color: rgb(20, 2, 2);
    color:rgb(76, 209, 200);
    box-shadow: none;
    outline: none;
}
.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: rgb(76, 209, 200);
    transition: background-color 5000s ease-in-out 0s;
}

.btn-primary {
    background: linear-gradient(to right, rgb(153, 255, 0), rgb(0, 213, 255));
    border: none;
    color: black;
    font-weight: bold;
}

.btn-primary:hover {
    background: linear-gradient(to right, rgb(0, 200, 255), rgb(157, 255, 0));
    color: black;
}
.alert-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, darkred, crimson);
    color: white;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

.alert-box h5 {
    margin: 0;
}
