{% load static %}
<link rel="stylesheet" href="{% static 'css/userdashboard.css' %}">

<div class="container">

    <div class="sidebar">

        <div class="profile">
            {% if user.profile %}
            <img src="{{ user.profile.url }}" alt="Profile">

            {% endif %}
        </div><br><br>

        <h2>{{ user.name }}</h2>


        <a href="{% url 'profile' %}">My Profile</a>
        <a href="{% url 'query' %}">Queries</a>
        <a href="{% url 'query_status' %}">Query Status</a>
        <div class="logout-box">
            <a href="{% url 'logout' %}" class="logout-btn" onclick="return confirm('Log Out?')">Logout</a>
        </div>

    </div>

    <div class="main">
        {% if messages %}
        <div class="message-box">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}


        {% if profile %}
        <h1 style="color:rgb(87, 17, 47); margin: 50px; font-weight: bolder;">
            Department: {{ user.department }}
        </h1>

        <div class="profile-card">

            <div class="profile-row">
                <p><strong>Name:</strong> {{ user.name }}</p>
                <button class="edit-btn">Edit</button>
            </div>

            <div class="profile-row">
                <p><strong>Email:</strong> {{ user.email }}</p>
                <button class="edit-btn">Edit</button>
            </div>

            <div class="profile-row">
                <p><strong>Phone:</strong> {{ user.contact }}</p>
                <button class="edit-btn">Edit</button>
            </div>

            <div class="profile-row">
                <p><strong>Password:</strong> {{ user.password }}</p>
                <button class="edit-btn">Edit</button>
            </div>

        </div>


        {% elif query %}
        <div class="query-card">
            <form action="{% url 'query' %}" method="post">
                {% csrf_token %}

                <h3 class="query-title">Submit Your Query</h3>

                <div class="query-field">
                    <input type="text" name="name" value="{{user.name}}" readonly>
                </div>

                <div class="query-field">
                    <input type="email" name="email" value="{{user.email}}" readonly>
                </div>
                <div class="query-field">
                    <select name="subject" class="form-control">
                        <option value="">--Subject--</option>
                        <option value="Attendence">Attendence</option>
                        <option value="Salary">Salary</option>
                        <option value="Profile">Profile</option>
                        <option value="Leave">Leave</option>

                    </select>

                </div>
                <br>

                <div class="query-field">
                    <textarea name="query" placeholder="Your Query"></textarea>
                </div>

                <button class="query-btn" type="submit">Submit</button>
            </form>
        </div>

        {% elif e_query %}
        <div class="query-card">
            <form action="{% url 'update' pk=e_query.id %}" method="post">
                {% csrf_token %}

                <h3 class="query-title">Update Your Query</h3>

                <div class="query-field">
                    <input type="text" name="name" value="{{ e_query.name }}">
                </div>

                <div class="query-field">
                    <input type="email" name="email" value="{{ e_query.email }}">
                </div>

                <div class="query-field">
                    <select name="subject">
                        <option value="">--Subject--</option>

                        <option value="Attendence" {% if e_query.subject == "Attendence" %}selected{% endif %}>Attendence
                        </option>
                        <option value="Salary" {% if e_query.subject == "Salary" %}selected{% endif %}>Salary</option>
                        <option value="Profile" {% if e_query.subject == "Profile" %}selected{% endif %}>Profile</option>
                        <option value="Leave" {% if e_query.subject == "Leave" %}selected{% endif %}>Leave</option>
                    </select>
                </div>

                <br>

                <div class="query-field">
                    <textarea name="query" placeholder="Your Query">{{ e_query.query }}</textarea>
                </div>

                <button class="query-btn" type="submit">Update</button>
            </form>

        </div>





        {% elif query_status %}
        <div id="query_status" class="query-status-section">

            <div class="query-status-card">

                <h3 class="query-status-title">MY QUERIES</h3>
                <div class="search-box">
    <label for="search">Search Anything :</label>
    <input type="text" name="search" placeholder="e.g. my query" id="search">
    <button>Search</button>
</div>

                <table class="query-status-table">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Query</th>
                            <th>Status</th>
                            <th>Solution</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for q in queries %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{q.email}}</td>
                            <td>{{q.name}}</td>
                            <td>{{ q.query }}</td>

                            <td>
                                {% if q.status == 'Done' %}
                                <span class="status done">Done</span>
                                {% else %}
                                <span class="status pending">Pending</span>
                                {% endif %}
                            </td>

                            <td>{{ q.solution|default:"Waiting for admin response" }}</td>

                            <td>
                                {% if q.solution %}
                                <span style="color: gray; cursor: not-allowed;">Delete</span>
                                {% else %}
                                <a href="{% url 'delete_query' q.id %}"class="delete-btn" style="text-decoration: none;"
                                    onclick="return confirm('Are you sure?');">
                                    Delete
                                </a>
                                {% endif %}
                            </td>

                            <td>
                                {% if q.solution %}
                                <span style="color: gray; cursor: not-allowed;">Edit</span>
                                {% else %}
                                <a href="{% url 'edit' pk=q.id %}"class="edit-btn" style="text-decoration: none;">Edit</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="empty-msg">No queries submitted</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>

    </div>
    {% endif %}